<!doctype html>
<html lang="en">
<head>
    <title>Admin</title>
</head>
<form method="post">
    <input name="login" type="text" placeholder="Enter login">
    <input name="password" type="text" placeholder="Enter password">
    <input type="submit">
</form>
{{#successful}}
    <a href="/admin/controlPanel">{{successful}}</a>
{{/successful}}
{{#errorMessage}}
    <h3>{{errorMessage}}</h3>
{{/errorMessage}}
</body>
</html>