<!doctype html>
<html lang="en">
<head>
    <title>Online card</title>
    </head>
<body>
<div>
    <a href="/OnlineCard/createNewCardMono">Create new card mono</a>
</div>
<div>
    <a href="/OnlineCard/viewInfoCard">View info card</a>
</div>
<div>
    <a href="/OnlineCard/viewHistoryCard">View info card</a>
</div>
<div>
    <a href="/">Back</a>
</div>
</body>
</html>