<!doctype html>
<html lang="en">
<head>
    <title>Internation bank system</title>
</head>
<body>
<h1>Internation bank system</h1>
<a href="/ATM">ATM</a>
<a href="/OnlineCard">Online card</a>
</body>
</html>