<!doctype html>
<html lang="en">
<head>
    <title>ATM</title>
</head>
<body>
<div>
    <a href="/ATM/ReplenishCard">Replenish Card</a>
</div>
<div>
    <a href="/ATM/WithdrawMoney">Withdraw money</a>
</div>
<div>
    <a href="/">Back</a>
</div>
</body>
</html>